<p class="col-sm-10 row">
  <strong class="col-sm-4 row">Email Address: </strong>
  <%= @user.email %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-4 row">Most Used Player(s): </strong>
  <%= @user.lineups.most_used_player %>
</p>

<p class="col-sm-10 row">
  <strong class="col-sm-4 row">Lineups Created This Week:</strong>
  <br>
  <% @this_weeks_lineups.each do |lineup| %>
    <%= link_to lineup.name, lineup_path(lineup.id) %>
    <br>
  <% end %>
</p>

<button onclick="showLineups()" type="button" class="btn btn-primary">Show all lineups</button>
<div id="lineups"></div>
