<p>
  <strong>Email Address: </strong>
  <%= @user.email %>
</p>

<p>
  <strong>Most Used Player(s): </strong>
  <%= @user.lineups.most_used_player %>
</p>

<p>
  <strong>Your Lineups for This Week:</strong>
  <br>
  <% @this_weeks_lineups.each do |lineup| %>
    <%= link_to lineup.name, lineup_path(lineup.id) %>
    <br>
  <% end %>
</p>

<p>
  <strong>All Your Lineups:</strong>
  <br>
  <% @user.lineups.each do |lineup| %>
    <%= link_to lineup.name, lineup_path(lineup.id) %>
    <br>
  <% end %>
</p>
